# Ignore all virtualenv and pip folders
bin
include
lib
pip-selfcheck.json

# Ignore all compiled, swap, and backup files
*.swp
*.pyc
*.pyo
*.bak
*~

# Ignore all django settings that may contain sensitive information
*settings.py

# Ignore databases
*.sqlite3

# Ignore django .json backups that contain database information
*.json
